/* General Styles */
.consulta-container {
    background-color: #F2F2F2; /* Gris claro */
    padding: 20px;
    min-height: 100vh;
  }
  
  /* Result List */
  .result-list {
    margin-top: 20px;
  }
  
  /* Result Item */
  .result-item {
    background-color: #FFFFFF; /* Fondo blanco */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  