/* General Styles */
.usuarios-container {
    background-color: #F2F2F2; /* Gris claro */
    padding: 20px;
    min-height: 100vh;
  }
  
  /* Usuarios List */
  .usuarios-list {
    margin-top: 20px;
  }
  
  /* Usuario Item */
  .usuario-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF; /* Fondo blanco */
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #4B3B6B; /* Borde morado */
  }
  